<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Test</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="mt-3 mb-4">
        <a class="btn btn-secondary"
           th:if="${param.groupId}"
           th:href="@{/test/group/edit/{id}(id=${param.groupId})}">Back to Group</a>
        <a class="btn btn-secondary"
           th:unless="${param.groupId}"
           th:href="@{/test/group/list}">Back to Groups</a>
    </div>
    <h1>Create a Test</h1>
    <form th:action="@{/test/create}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Test Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <!-- Tu peux cacher ce champ si besoin -->
        <input type="hidden" name="groupId" th:value="${param.groupId}" />
        <button type="submit" class="btn btn-primary">Create Test</button>
    </form>
</div>
<script th:src="@{/libs/bootstrap.bundle.min.js}"></script>
</body>
</html>